@import "../../scss/variables";
.spinner {
  height: 16px;
  width: 16px;
  border: $space_3 solid $white;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  will-change: transform;
  animation: spin 700ms infinite linear;
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
